.post-form-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

.post-form-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
}

.post-form-container span {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.post-form-container .category {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.post-form-container form {
  display: flex;
  flex-direction: column;
}

.post-form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.post-form-container input,
.post-form-container textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-form-container button {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

.post-form-container button:not(:last-child) {
  margin-right: 10px;
}

.post-form-container textarea {
  height: 400px;
}

.post-form-container option {
  background-color: #f7f7f7;
  color: #555;
}

.post-form-container .btn-dark {
  background: #555;
  color: #fff;
}

.post-form-container .btn-dark:hover,
.post-form-container .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.cate, .authorName {
  float: left;
}
.categorySelect {
  float: right;
}
.post-form-container .boardTitle {
  float: left;
}

.post-form-container #title {
  position: absolute;
  width: 500px;
  left: 250px;
  height: 30px;
}

.buttonWb {
  display: flex;
  justify-content: flex-end;
}

section::after {
  content: "";
  display: block;
  clear: both;
}
