@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFLight.ttf") format("woff");
  font-weight: 300;
  font-style: Light;
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFMedium.ttf") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../assets/fonts/GmarketSansTTFBold.ttf") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
